
<nav class="navbar navbar-expand-lg bg-white px-4">
  <div class="container-fluid">

    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <img src="assets/images/navbar.png" height="70" class="no-hover"/>
    </a>

    <!-- Hamburger button -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible Menu -->
    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link fw-semibold" routerLink="/" [routerLinkActiveOptions]="{ exact: true }"   (click)="closeNavbar()" routerLinkActive="active">HOME</a>
        </li>

        <li class="nav-item">
          <a class="nav-link fw-semibold" routerLink="/about"   (click)="closeNavbar()" routerLinkActive="active">ABOUT US</a>
        </li>

        <!-- SECTION Dropdown -->
        <li class="nav-item dropdown">
          <a
            class="nav-link fw-semibold dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
          >
            Facilities
          </a>
          <ul class="dropdown-menu">
         
            <li><a class="dropdown-item" routerLink="/facilities/educational-facilities"   (click)="closeNavbar()" routerLinkActive="active">Educational</a></li>
            <li><a class="dropdown-item" routerLink="/facilities/counselling-center"   (click)="closeNavbar()" routerLinkActive="active">Counselling</a></li>
            <li><a class="dropdown-item" routerLink="/facilities/sports-facilities"   (click)="closeNavbar()" routerLinkActive="active">Sports</a></li>
            <li><a class="dropdown-item" routerLink="/facilities/multipurpose-hall"   (click)="closeNavbar()" routerLinkActive="active">Multipurpose Hall</a></li>
         
          </ul>
        </li>

           <li class="nav-item">
          <a class="nav-link fw-semibold" routerLink="/academics"   (click)="closeNavbar()" routerLinkActive="active">Academics</a>
        </li>

        <li class="nav-item">
          <a class="nav-link fw-semibold" routerLink="/achievements"   (click)="closeNavbar()" routerLinkActive="active">Achievements</a>
        </li>

        <li class="nav-item">
          <a class="nav-link fw-semibold" routerLink="/contact-us"   (click)="closeNavbar()" routerLinkActive="active">Contact</a>
        </li>


      </ul>
    </div>
  </div>
</nav>

<div style="height: 4px; background: linear-gradient(90deg, #f744a0 0%, #b016d2 50%, #15025c 100%);"></div>
